/*body {
	background-image: url("../images/home/Ivory Queen - home.png");
    background-size: 100%;
    background-attachment: fixed;
}
*/

#programmingBackground {
	position: fixed; 
	bottom: 0; 
	right: 0; 

	/* Preserve aspet ratio */
	min-width: 100%;
	min-height: 100%;
}

#description {
	width: 100%;
	padding: 5%;
	margin-bottom: 20px;
	background-color: white;
	text-align: justify;
	vertical-align: middle;
	opacity: 0.9;
	font-size: 1.25em;
}